@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {

  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  margin: 0 auto;

}

.allergies {
   font-weight: bold;
}


#header {
height: 200px;
margin: 20px 20px 20px 20px;
overflow: hidden;


}

#header h1{
position: absolute;
padding: 30px 1px 1px 40px;
}


#header img {
 opacity: 0.5;
 width: 100%;
}


#burgers {
  background-color: black;
  color: white;
  margin: 20px 20px 20px 20px;
  padding: 10px 20px 20px 20px;
  border: 4px dashed white;
}

#customer {
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 0px 20px;
  border: 4px dashed black;
}

button:hover {
  color: #88bd8a;
  cursor: pointer;
}

table {
  width: 80%;
  margin: 0 auto;
}


button {
  margin-top: 10px;
  margin-left: 20px;
}
