@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@media screen and (max-width: 800px) {
  h1 {
    font-size: 6vw;
  }
}

body {

  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  margin: 0 auto;

}

.allergies {
  font-weight: bold;
}


#header {
  height: 10em;
  margin: 2em 2em 2em 2em;
  overflow: hidden;


}

#header h1{
  position: absolute;
  padding: 1em 2em 2em 1.5em;
}


#header img {
  opacity: 0.3;
  width: 100%;
}


#burgers {
  background-color: #59734c;
  color: white;
  margin: 2em 2em 2em 2em;
  padding: 2em 4em 2em 4em;
  border: 4px dashed white;
}

#customer {
  margin: 2em 2em 2em 2em;
  padding: 2em 2em 1em 2em;
  border: 4px dashed black;
}

button:hover {
  color: #88bd8a;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-gap: 5em;
  grid-template-columns: 18em 18em 18em;
}


button {
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 2em;
}
