@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {

  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  margin: 0 auto;

}

.allergies {
   font-weight: bold;
}

#burgers {
  background-color: black;
  color: white;
}

#customer {
}

button:hover {
  color: #88bd8a;
  cursor: pointer;
   }

table {
  width: 80%;
  margin: 0 auto;
}
